node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

Documentation/~$User_story.xlsx

package-lock.json

prisma/dev.db

prisma/migrations/20240916195817_init/migration.sql

prisma/migrations/20240917010148_init/migration.sql

prisma/migrations/20240917162217_init/migration.sql

prisma/migrations/migration_lock.toml

prisma/dev.db-journal

prisma/migrations/20240919002712_init/migration.sql

prisma/migrations/20240919012545_init/migration.sql
